@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Gemunu+Libre:wght@300&display=swap");

.container {
  display: flex;
  border: solid black 1px;
  border-radius: 20px;
  max-width: 50px;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  flex-wrap: wrap;
  justify-content: center;
  background-color:black;
  color: white;
  font-family: Chakra Petch;

}

.title {
  display: flex;
  justify-content: center;
}

.button_img{
  max-width: 50px;
  display: flex;

}